<header class="row" role="banner" aria-label="{{ 'Site header'|t }}">
    <div class="shrink columns">
        <a href="/"><img src="{{ base_path ~ directory }}/images/logo.png" alt="{{ site_name }}" /></a>
    </div>
    <div class="columns">
      {% if is_front %}
        <h1 id="site-name">{{ site_name }}</h1>
      {% else %}
        <div id="site-name">{{ site_name }}</div>
      {% endif %}
    </div>
</header>

{% if page.header %}
    {{ page.header }}
{% endif %}
