{% extends 'page.html.twig' %}
{% block title_section %}{% endblock %}

{% block main %}
{% if featured %}
<header role="banner" aria-label="{{ 'Site header'|t }}">
  <div class="grid-x grid-margin-x grid-padding-x">
    <div class="cell">
      {{ featured }}
    </div>
  </div>
</header>
{% endif %}

{% if messages %}
<div class="grid-x grid-margin-x grid-padding-x">
  <div class="cell">
    {{ messages }}
  </div>
</div>
{% endif %}

<section class="main">
<div class="grid-x grid-margin-x grid-padding-x">
  <main id="main" class="cell" role="main">
    {% if page.highlighted %}
      {% spaceless %}
        {{ page.highlighted }}
      {% endspaceless %}
    {% endif %}
    <a id="main-content"></a>
      {{ page.content }}
  </main>
</div>
</section>
{% endblock %}